name: Unit tests
on:
  pull_request:
    branches: [ main ]
    types: [opened, synchronize, reopened]
  push:
    branches: [ main ]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      - name: Install migrate
        run: |
          go install -tags 'sqlite' github.com/golang-migrate/migrate/v4/cmd/migrate@latest
      - name: Create SQLite db and run migrations
        env:
          TEST_DB_URL: "${{ github.workspace }}/db.test.sqlite"
        run: |
          rm -f "${{ github.workspace }}/db.test.sqlite"
          make migrate-all-up
      - name: Run unit tests
        run: go test ./...
        env:
          TEST_DB_URL: "${{ github.workspace }}/db.test.sqlite"
